<form class="new-feed">

  <label for="feed-title">Feed Title</label>
  <input id="feed-title" type="text" name="title">

  <label for="feed-url">Feed URL</label>
  <input id="feed-url" type="text" name="url">

  <button>Submit</button>
</form>
