<h1><%= feed.escape("title") %></h1>

<ul>
  <% feed.entries().each(function(entry){%>
    <li>
      <p>
        <%= entry.escape("title") %>
      </p>
      <p>
        <%= entry.escape("link") %>
      </p>
      <p>
        <%= entry.escape("published_at") %>
      </p>
    </li>
  <% }) %>
</ul>
